/indra/build-*
/indra/tools/vstool/obj/
*.aps
*.suo
*.vshost.exe
/bin/
/bin-release/
/bin
/bin-release
/indra/viewer-*
/indra/newview/vivox-runtime/
/indra/newview/dbghelp.dll
indra/newview/res/viewer_icon.*
indra/newview/res-sdl/viewer_icon.*
/libraries/
/lib/
*.pyc
*.orig
*.rej
*.bak
*.DS_Store
/LICENSES/
/edited-files.txt
qtcreator-build/
/.pc
/build-*
/viewer-*


